/* To clear the default margins and padding */
* { 
    box-sizing: border-box;
}
/* Styles for the body element */
img {
    display: block;
    max-inline-size: 100%;
}
a {
    color: #2b930b;
}
a:hover, a:focus {
    color: #1b282b;
}
body {
    color: #1b282b;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 0px 200px;
}
footer {
    text-align: center;
}
h1 {
    /* color: #4676a9; */
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
}
h2 {
    color: #cb721c;
    font-size: 2rem;
    text-align: start;
}
header {
    text-align: center;
}
section {
    margin-block: 60px;
}
.wrapper {
    max-inline-size: 1000px;
    margin: 0 auto;
}
ul {
    list-style-type: circle;
}
.climber-bg {
    color: #ffffff;
    background-image: url("../images/simple-steps.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #087a98;
    padding: 24px;
}
.teal-bg {
    background-color: #0b4a5a;
    border: 5px solid #087a98;
    color: #ffffff;
    padding: 20px;
    /* border-radius: 5px; */
}
.teal-bg strong {
    color: #0ae2d0;
}
.teal-text {
    color: #0b4a5a;
}